{%extends "blog/base.html"%}
{% load static %}
<title>{% block title %}Django Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="content">
        {% block content %}
        <head>
            <meta charset="UTF-8">
            <title>Logged out</title>
        </head>
        <body>
            <h1>You have been logged out.</h1>
            <a href="{% url 'login' %}">Login again</a>
        </body>
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Django Blog</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>