{% extends "blog/base.html" %}
{%block title%} Posts {%endblock%}
{%load static%}
{%block content%}
{{user}}
    {%if all_post%}
        {%for post in all_post%}
            <ul style="list-style: none;">
                <li>Post Title: <a href="{%url 'post_detail' post.id%}">{{post.title}}</a> </li>
                <li>Post Content: {{post.content}}</li>
                <li>Published Date: {{post.published_date}}</li>
                <li>Author: {{post.author}}</li>
            </ul>
            <button type="submit" style="background-color: gainsboro; color: black;">
                <a href="{%url 'post_detail' post.id %}" >Comment</a>
            </button>
            {%if user.id == post.author.id%}
                <button type="submit" style="background-color: yellow; color: black;">
                    <a href="{%url 'post_update' post.id%}" >Edit Post</a> </button>
                <button type="submit" style="background-color: red; color: black;"> 
                    <a href="{%url 'post_delete' post.id%}" >Delete Post</a></button>
            {%endif%}
            <hr>
        {%endfor%}
    {%endif%}
{%endblock%}