{% extends "blog/base.html" %}
{%block title%} Post Detail {%endblock%}
{%load static%}
{%block content%}
    {%if post%}
        <ul style="list-style: none;">
            <li>Post Title:{{post.title}}</li>
            <li>Post Content: {{post.content}}</li>
            <li>Published Date: {{post.published_date}}</li>
            <li>Author: {{post.author}}</li>
            <button type="button" style="background-color: blue; color: black;" > 
            <a href="{%url 'post_comment' %}"> Comments </a></button>
        </ul>
            {%if comment %}
                <ul style="list-style: none;">
                    <li>Comment Content: {{comment.content}}</li>
                    <li>Created_at: {{comment.created_at}}</li>
                    <li>Author: {{comment.author}}</li>
                </ul>
            {%endif%}
    {%endif%}
{%endblock%}